/* ------------ Variables -----------*/
:root{
    --naranaja-color: coral;
    --white-color: white;
    /* Tipografia */
    --normal:12px;
    /* Espaciado */
    --space:10px;
    /* Box shadow */
    --box: 0px 0 2px 1px #e6e5e9;
}
/* ------------ Variables -----------*/

html,body{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: helvetica;
}

nav{
    display: flex;
    background-color: var(--naranaja-color);
    padding: var(--space);
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}

nav li{
    padding-left: 40px;
    list-style: none;
}

nav li a{
    color: black;
    text-decoration: none;
}

nav li a:hover{
    color:var(--white-color);
}

/* ------ Main section -------*/

.main_section{
    padding: 10%;
    text-align: center;
}

.products{
    background-image: url("../images/Trazado\ 2.png");
    max-height: 100px;
    background-size: cover;
    background-position: center top;
    padding: 15%;
    display: flex;
}

.product{
    padding: var(--space);
    margin-top: -240px;
}

.product .content{
    background-color: var(--white-color);
    padding: 20px;
    box-shadow: var(--box);
}

.img_content{
    text-align: center;
}

.main_button{
    background-color: var(--naranaja-color);
    width: 100%;
    padding: var(--space);
    font-size: var(--normal);
    color: var(--white-color);
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

.main_button:hover{
    background-color: #bf3300;
}
